.review-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.review-table th,
.review-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.review-table th {
  background-color: #f2f2f2;
  color: #333;
}

.review-table__name {
  text-align: left;
}
.review-table__date {
  text-align: end;
}

.pagination_center {
  justify-content: center;
}
